*{
    padding: 0;
    margin: 0;
    /* outline: red 1px dotted; */
    font-family: 'Priori Serif';
}
.main-container{
    height: 2000px;
   position: relative;
}
.main-container .nav{
    top: 0;
    position: sticky;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
   padding-top: 10px;
   padding-bottom: 10px;
   z-index: 1;
}

.main-container .nav .left{
    display: flex; 
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.main-container .nav img{
    justify-self: center;
}
.main-container .nav .left .link {
    text-align: center;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main-container .nav .link:hover{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 1s ease-in-out;
}
/* Learn Event bEfore and After*/

.main-container .nav ul li a{
    color: #f78da7;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.main-container .nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.icon:hover{
    color: white;
}
.main-page{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Images/Background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-page .btn-container-out{
position: absolute;
bottom: 0;
padding-bottom: 6rem;
}
.main-container .btn-container-out button{
 padding: 10px;
 font-size: larger;
 padding-left: 60px;
 padding-right: 60px;
 border-radius: 40px;
 background-color: #d93659;
 border-style: none;
 color:white;
 font-weight: 400;
}



/* Shop Store Styles*/
.Shop-Store{
   position: absolute;
   height: 100%;
   width: 100%;
   margin-top: 100vh;
   background-color: #f4a7ba; /*BlackPink Color*/
}
.Shop-Store .title-container{
display: flex;
align-items: center;
padding-left: 30px;
padding-top: 1rem;
}
